#container
  %h2.generator_title Get a password
  %form{:action => "generate", :method => "post"}
    %label How many words do you want your password to be?
    %select{:name => "words"}
      - for number in 2..5
        %option= number
    %input{:type => "submit", :name => "Submit"}
  %p.password
    = password
