#container
  %h2.generator_title Get a password
  %form{:url => "/", :method => "post"}
    %label How many words do you want your password to be?
    %select{:name => "words"}
      - for number in 2..5
        %option{:selected => number == locals[:num_words].to_i}= number
    %input{:type => "submit", :name => "Submit"}
  %p.password
    = locals[:password]
