<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href=<%= url("/css/application.css") %> rel="stylesheet" />
    <title> Battery Staple </title>
  </head>

  <body>
    <div id="top-section">
      <a class="home" href="/">
        <img class="battery_staple" src="/images/battery-staple.png" />
      </a>
    </div>

    <%= yield %>

  </body>

</html>
