!!!
%html
  %head
    %meta{'charset' => 'UTF-8'}
    %link{:href => "css/application.css", :rel => "stylesheet"}
    %title
      Battery Staple
  %body
    #top-section
      %a.home{:href => "/"}
        %img.battery_staple{:src => "/images/battery-staple.png"}
    = yield
