!!!
%html
  %head
    %meta{'charset' => 'UTF-8'}
    %link{:href => "css/application.css", :rel => "stylesheet"}
    %title
      Battery Staple
  %body
    %h1.battery_staple
      %a.home{:href => "/"} Battery Staple
    = yield
